rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stats/{docId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;

      match /events/{eventId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }

      match /usageLogs/{logId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
  }
}
